@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5.4rem;
  --btn-padding-x: 3.6rem;
  --btn-background: var(--white);
  --btn-color: var(--black);
  --btn-transition: all 0.3s ease;
  --btn-border-radius: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  background: var(--btn-background);
  transition: var(--btn-transition);
  overflow: hidden;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 130%;
  white-space: nowrap;
  pointer-events: all;
  cursor: pointer;
  color: var(--btn-color);

  position: relative;

  i {
    --font-size: 2.4rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {

    @include dosm {
      --btn-background: var(--cyan);
      --btn-color: var(--white);
    }
  }

  &--blue {
    --btn-background: var(--blue);
    --btn-color: var(--white);
  }

  &--gray {
    --btn-background: var(--black-05);
    --btn-color: var(--black);

    &:hover {

      @include dosm {
        --btn-background: var(--blue-2-30);
        --btn-color: var(--black);
      }
    }
  }
}