.clip-slider {
  position: relative;
  overflow: visible;
  touch-action: pan-y;

  &__wrapper {
    z-index: 1;
    position: relative;
    height: 100%;
    transition: none !important;
    transform: none !important;

    .swiper-slide {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: clip-path 0.8s ease, -webkit-clip-path 0.8s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.08);
        transition: transform 0.8s ease;
      }

      &.s--active {

        img {
          transform: scale(1);
        }
      }
    }
  }

  &.dir-next {

    .swiper-slide {
      -webkit-clip-path: inset(0 0 0 100%);
      clip-path: inset(0 0 0 100%);

      &.s--prev {
        z-index: 1;
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
      }

      &.s--active {
        z-index: 2;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }

  &.dir-prev {

    .swiper-slide {
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: inset(0 100% 0 0);

      &.s--prev {
        z-index: 1;
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
      }

      &.s--active {
        z-index: 2;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }
}