@use './../mixins' as *;

.burger {

  &-btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 5.6rem;
    height: 5.6rem;
    flex-shrink: 0;
    transition: all 0.3s ease;
    pointer-events: all;

    position: relative;

    @include sm {
      display: flex;
    }

    &.burger--open {

      .burger__line {
        background-color: var(--accent);
      }

      .burger__line--first {
        transform: rotate(45deg) translateY(0);
      }

      .burger__line--second {
        width: 0;
      }

      .burger__line--third {
        transform: rotate(-45deg) translateY(0);
      }
    }
  }

  &__line {
    width: 3rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: var(--white);
    transition: width 0.3s ease, transform 0.3s ease;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--first {
      transform: translateY(calc(-50% - 0.8rem));
    }

    &--second {}

    &--third {
      transform: translateY(calc(-50% + 0.8rem));
    }
  }
}