@use './../mixins' as *;

.article {

  &__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;

    @include dosm {
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }
  }

  &__cover {
    height: fit-content;
    grid-row: 2/3;
    margin-bottom: 2rem;

    @include dosm {
      grid-column: 1/6;
      grid-row: 1/3;

      position: sticky;
      top: 13.6rem;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__head {
    grid-row: 1/2;
    margin-bottom: 3rem;

    @include dosm {
      padding-left: 4rem;

      grid-column: 6/13;
      grid-row: 1/2;
    }

    .blog-page-2 & {

      @include dosm {
        margin-bottom: 2rem;
      }
    }

    .guarantee & {
      margin-bottom: 2rem;
    }
  }

  &__body {
    grid-row: 3/4;

    @include dosm {
      padding-left: 4rem;

      grid-column: 6/13;
      grid-row: 2/4;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;

    @include sm {
      margin-bottom: 2rem;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.4rem;
      height: 5.4rem;
      flex-shrink: 0;
      background-color: var(--blue-2-05);
      border-radius: 50%;

      i {
        --font-size: 3.6rem;

        &.icon-share {
          --font-size: 2.6rem;
        }
      }
    }
  }

  &__title {
    margin-bottom: 4rem;

    @include sm {
      margin-bottom: 3rem;
    }

    .blog-page-2 & {
      margin-bottom: 0;
    }

    .guarantee & {
      margin-bottom: 0;

      @include sm {
        margin-bottom: 0;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 5rem;
      line-height: 120%;
      color: var(--navy);

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__text {
    color: var(--navy);
  }

  &__content {

    .action {
      background-color: var(--white);
      padding: 1rem 1.4rem 1.3rem 2rem;
      border-radius: 0.5rem;
      margin-bottom: 4rem;

      font-style: italic;
      color: var(--navy);

      @include sm {
        margin-bottom: 2rem;
        padding: 2rem 1.5rem;
      }
    }

    h2 {
      padding-top: 2rem;
      margin-bottom: 3rem;

      font-weight: 700;
      font-size: 3rem;
      line-height: 140%;

      @include sm {
        padding-top: 1rem;
        margin-bottom: 2rem;

        font-size: 2.5rem;
      }
    }

    p {
      margin-bottom: 2rem;
      color: var(--black-50);

      &:last-child {
        margin-bottom: 0;
      }

      .guarantee & {
        color: var(--black);
      }
    }

    b {
      color: var(--navy);

      .guarantee & {
        color: var(--black);
      }
    }

    img {
      padding-top: 2rem;
      margin-bottom: 4rem;
      width: 100%;
      height: auto;
      object-fit: contain;

      @include sm {
        padding-top: 1rem;
        margin-bottom: 2rem;
      }
    }

    ul {
      --list-dot-color: var(--black);

      padding-left: 2.4rem;
      margin-bottom: 4rem;

      li {
        margin-bottom: 2rem;

        position: relative;

        @include sm {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          display: block;
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 0.15rem;
          background-color: var(--list-dot-color);
          flex-shrink: 0;

          position: absolute;
          top: 1rem;
          left: -1.5rem;

          @include sm {
            top: 0.7rem;
          }
        }
      }
    }

    ol {
      padding-left: 2.4rem;
      margin-bottom: 2rem;

      color: var(--navy);

      ul {
        padding-top: 2rem;
        padding-left: 0;

        color: var(--black);

        @include sm {
          padding-top: 1.5rem;
        }
      }

      li {
        margin-bottom: 2rem;

        @include sm {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a {
      color: var(--navy);

      position: relative;

      &::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 0.2rem dotted var(--navy);

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    span {
      display: block;
      margin-bottom: 4rem;

      color: var(--black-50);

      @include sm {
        margin-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    blockquote {
      padding: 3rem 2rem;
      margin-bottom: 2rem;
      border-radius: 0.5rem;
      background-color: var(--white);

      @include sm {
        padding: 2rem 1.5rem 3rem 1.5rem;
      }

      ul {
        margin-bottom: 0;
      }

      li:last-child {
        margin-bottom: 0;
      }

      .blog-page-2 & {
        color: var(--navy);

        ul {
          --list-dot-color: var(--navy);
        }

        p {
          color: var(--navy);
        }
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
    padding: 1.25rem 1.5rem;
    background-color: var(--white);
    border-radius: 0.5rem;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--black-50);

    @include sm {
      margin-top: 3rem;
    }
  }
}