@use './../mixins' as *;

.brands {

  &__slide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    @include sm {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 0.8rem;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19rem;
    border-radius: 1.8rem;

    border: 0.1rem solid transparent;
    background-image:
      linear-gradient(var(--body-bg), var(--body-bg)),
      linear-gradient(135deg, #0EDDC9, #3A77CE);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    @include sm {
      height: 12.6rem;
    }

    &:hover {

      .brands__item-logo {
        transform: scale(1.2);
      }
    }

    &-logo {
      width: auto;
      height: 6rem;
      transition: transform 2s ease;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}