@use './../mixins' as *;

.catalog {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include dosm {
      gap: 3rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include dosm {
      gap: 4rem;
    }
  }

  &__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 2rem;

    &-filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      @include dosm {
        gap: 3rem;
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white-50);
      border-radius: 0.8rem;
      width: 4rem;
      height: 4rem;

      color: var(--navy);

      &:hover,
      &--active {
        color: var(--cyan);
      }

      i {
        --font-size: 1.92rem;
      }

      &--items {
        // color: var(--navy);

        @include sm {
          display: none;
        }
      }

      &--list {
        // color: var(--navy);

        @include sm {
          display: none;
        }
      }

      &--filter {
        color: var(--cyan);

        @include dosm {
          display: none;
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      font-weight: 400;
      font-size: 1.4rem;
      line-height: 120%;
      color: var(--navy);

      @include dosm {
        font-size: 1.6rem;
      }

      i {
        --font-size: 1.6rem;

        color: var(--cyan);
      }

      span {
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          border-bottom: 0.2rem dotted var(--navy);

          position: absolute;
          bottom: 0.1rem;
          left: 0;
        }
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;

    @include dosm {
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .filter {

      @include sm {
        display: none;
      }
    }
  }

  &__block {

    @include dosm {
      grid-column: 3/13;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;

    @include dosm {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      transition: grid-template-columns 0.3s ease, gap 0.3s ease;
    }

    .list-view & {

      @include dosm {
        grid-template-columns: 1fr;
        gap: 1rem;
      }
    }
  }
}