@use './../mixins' as *;

.sample {

  .general {

    &__title {

      * {
        font-size: 1.4rem;

        @include dosm {
          font-size: 3rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 124rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: var(--black-50);

    @include dosm {
      font-size: 1.6rem;
    }

    @include dosm {
      gap: 3rem;
    }

    ul {
      --list-dot-color: var(--black-50);

      padding-left: 2.4rem;
      margin-bottom: 4rem;

      li {
        margin-bottom: 2rem;

        position: relative;

        @include sm {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          display: block;
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 0.15rem;
          background-color: var(--list-dot-color);
          flex-shrink: 0;

          position: absolute;
          top: 1rem;
          left: -1.5rem;

          @include sm {
            top: 0.7rem;
          }
        }
      }
    }
  }
}