@use './../mixins' as *;

.header {
  width: 100%;
  height: var(--header-height);
  transition: background-color 0.3s ease;

  position: sticky;
  // position: relative;
  top: 0;
  left: 0;
  z-index: 1000;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(242.82deg, #003194 61.43%, #0EDDC9 105.45%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    .page-inner &,
    .header-fixed & {
      opacity: 1;
      visibility: visible;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--body-bg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    .catalog-menu--open &,
    .burger-menu--open & {

      @include sm {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include sm {
      position: relative;
      z-index: 2;
    }
  }

  &__top {
    display: none;
    padding: 2.2rem 0;

    @include dosm {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    &-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      font-weight: 400;
      font-size: 1.4rem;
      line-height: 120%;
      color: var(--white);

      &:hover {
        color: var(--cyan);
      }

      i {
        --font-size: 1.6rem;
      }
    }

    &-dropdown {

      i {
        --font-size: 0.8rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.4rem;
    padding: 0 0 2.8rem 0;

    @include sm {
      justify-content: space-between;
      padding: 1.6rem 0;
      gap: 0;
      transition: gap 0.3s ease;

      .mobile-search-menu--open & {}
    }
  }

  &__logo {
    flex-shrink: 0;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  &__catalog {
    flex-shrink: 0;

    @include sm {
      display: none;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.9rem;
      height: 5.4rem;
      padding: 0 1.5rem 0 1.8rem;
      border-radius: 1.8rem;
      background-color: var(--white);
      transition: background-color 0.3s ease, color 0.3s ease;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 130%;

      &:hover {
        background-color: var(--cyan);

        color: var(--white);

        i {
          color: var(--white);
        }
      }

      i {
        --font-size: 2.4rem;

        color: var(--cyan);
      }
    }
  }

  &__search {
    width: 100%;
    // background: rgba(255, 255, 255, 0.37);

    position: relative;

    @include sm {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mobile-search-menu--open & {
      margin-right: 0.8rem;
    }

    &:has(.form-search:hover,
      .form-search.filled,
      .form-search:focus,
      .form-search:active,
      .form-search:checked) {

      .header__search-icon {
        color: var(--navy);
      }

      .header__search-btn {
        background-color: var(--navy);
        color: var(--cyan);
      }

      .header__search-btn:hover {
        color: var(--white);
      }
    }

    &-form {

      @include sm {
        width: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: width 0.3s ease, opacity 0.3s ease;
      }

      .mobile-search-menu--open & {

        @include sm {
          width: 100%;
          opacity: 1;
          overflow: visible;
          pointer-events: all;
          transition: width 0.3s ease, opacity 0.3s ease 0.2s;
        }
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 2rem;
      z-index: 2;
      transform: translateY(-50%);
      transition: color 0.3s ease;

      color: var(--cyan);

      @include sm {
        left: 1.5rem;
      }

      i {
        --font-size: 2.4rem;
        animation: neuron-live 15s linear infinite;
      }
    }

    &-clear {
      position: absolute;
      top: 50%;
      right: 6.6rem;
      z-index: 2;
      transform: translateY(-50%);

      transition: all 0.3s ease;
      pointer-events: none;
      opacity: 0;
      cursor: pointer;
      color: var(--black);

      @include sm {
        right: 2rem;
      }

      &:hover {
        color: var(--navy);
      }

      i {
        --font-size: 1.6rem;
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 1rem;
      background-color: var(--white);
      transition: background-color 0.3s ease, color 0.3s ease;

      position: absolute;
      top: 50%;
      right: 1rem;
      z-index: 2;
      transform: translateY(-50%);

      @include sm {
        display: none;
      }

      i {
        --font-size: 2.4rem;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 100%;
      max-height: calc(100vh - var(--header-height));
      padding: 1.8rem 5rem 3.6rem 5rem;
      border-radius: 1.8rem;
      background-color: var(--white-95);
      backdrop-filter: blur(6px);

      position: absolute;
      top: calc(100% + 0.1rem);
      left: 0;
      z-index: 3;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      clip-path: inset(0 0 100% 0);
      will-change: opacity, visibility, clip-path;
      transition: opacity 0.3s linear, visibility 0.3s linear, clip-path 0.15s linear;

      @include sm {
        display: none;
      }

      // .form-search.filled+&,
      .form-search:focus+&,
      .form-search:active+&,
      .form-search:checked+& {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        clip-path: inset((0 0 0 0));
        transition: opacity 0.15s linear, visibility 0.15s linear, clip-path 0.3s linear;
      }
    }
  }

  &__bar {
    display: none;

    @include dosm {
      display: block;
      flex-shrink: 0;
    }

    &-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      font-weight: 400;
      font-size: 1rem;
      line-height: 130%;
      text-align: center;
      color: var(--white);

      &:hover {

        .header__bar-icon {
          color: var(--cyan);
        }
      }
    }

    &-icon {
      position: relative;

      i {
        --font-size: 3.5rem;
      }
    }
  }

  &__mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    @include dosm {
      display: none;
    }

    &-search {
      margin-right: 1.5rem;
      transition: opacity 0.3s ease;

      color: var(--cyan);

      @include dosm {
        display: none;
      }

      .mobile-search-menu--open & {
        display: none;
      }

      .catalog-menu--open &,
      .burger-menu--open & {

        @include sm {
          opacity: 0;
          pointer-events: none;
        }
      }

      i {
        --font-size: 3rem;
      }
    }
  }

  &__history {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-bottom: 3rem;
    border-bottom: 0.1rem solid var(--black-10);

    &-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }

    &-title {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 130%;
      color: var(--black-50);
    }

    &-clear {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 130%;
      color: var(--navy);
      cursor: pointer;
    }

    &-body {}

    &-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 4.5rem;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      background-color: var(--white);

      cursor: pointer;

      &:hover {

        span {
          text-shadow: 0.05rem 0 0 currentColor;
        }

        i {
          color: var(--black);
        }
      }

      span {
        display: block;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 100%;
        color: var(--black);
        transition: text-shadow 0.3s ease;
      }

      i {
        --font-size: 1.6rem;

        color: var(--black-30);
      }
    }
  }

  &__frequently {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    overflow-y: auto;

    &-title {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 130%;
      color: var(--black-50);
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      a {
        width: fit-content;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 130%;
        color: var(--black);

        &:hover {
          color: var(--navy);
          text-shadow: 0.05rem 0 0 var(--navy);
        }
      }
    }
  }
}

@keyframes neuron-live {
  0% {
    transform: translateY(0px) scale(0.9) rotate(0deg);
  }

  25% {
    transform: translateY(-0.2rem) scale(1.01) rotate(90deg);
  }

  50% {
    transform: translateY(0px) scale(0.9) rotate(180deg);
  }

  75% {
    transform: translateY(-0.2rem) scale(1.01) rotate(270deg);
  }

  100% {
    transform: translateY(0px) scale(0.9) rotate(360deg);
  }
}