@use './../mixins' as *;

.menu {
  height: 100%;

  @include dosm {
    width: 100%;
    pointer-events: none;
    padding-top: calc(var(--header-height) - 2.6rem);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    z-index: 1001;
  }

  @include sm {
    background-color: var(--body-bg);
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;

    .catalog-menu--open & {
      transform: translateX(0);
    }
  }

  .container {

    @include sm {
      height: fit-content;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 98%;
    height: fit-content;
    max-width: 100%;
    padding-top: calc(var(--header-height) + 0.4rem);
    padding-bottom: 10.2rem;

    position: relative;

    @include dosm {
      display: block;
      transition: opacity 0.3s linear, visibility 0.3s linear, clip-path 0.15s linear;
      clip-path: inset(0 0 100% 0);
      will-change: opacity, visibility, clip-path;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      background-color: var(--white-95);
      backdrop-filter: blur(6px);
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 1.8rem;

      .catalog-menu--open & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        clip-path: inset((0 0 0 0));
        transition: opacity 0.15s linear, visibility 0.15s linear, clip-path 0.3s linear;
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;

    @include dosm {
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    &-head {
      padding: 1.3rem 2rem;
      border-right: 0.1rem solid var(--black-05);
      border-bottom: 0.1rem solid var(--black-05);

      position: relative;
      z-index: 2;

      @include dosm {
        padding: 1.8rem 2rem;
        grid-column: 1/4;
      }

      @include sm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 4rem;
        background-color: var(--navy-10);
      }

      .menu__block:last-child & {
        border-bottom: 0;
      }

      &.menu__block--active {

        @include sm {
          background-color: var(--navy);
        }
      }
    }

    &-text {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 130%;
      color: var(--navy);

      @include sm {
        font-weight: 700;
      }

      .menu-head--active & {

        @include dosm {
          font-weight: 700;
        }
      }

      .menu__block--active & {

        @include sm {
          color: var(--white);
        }
      }
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: var(--white);
      flex-shrink: 0;

      position: relative;

      @include dosm {
        display: none;
      }

      &::before {
        content: "";
        display: block;
        width: 0.97rem;
        height: 0.11rem;
        border-radius: 0.055rem;
        background-color: var(--navy);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        display: block;
        width: 0.97rem;
        height: 0.11rem;
        border-radius: 0.055rem;
        background-color: var(--navy);
        transition: width 0.3s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);

        .menu__block--active & {
          width: 0.11rem;
        }
      }
    }

    &-body {

      @include dosm {
        grid-column: 4/13;
      }

      @include sm {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.3s ease;
        overflow: hidden;
      }

      .menu__block--active+& {

        @include sm {
          grid-template-rows: auto;
          margin-bottom: 0.3rem;
        }
      }
    }

    &-wrapper {
      width: 100%;
      height: 100%;

      @include dosm {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
        pointer-events: none;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }

      @include sm {
        overflow: hidden;
      }
    }

    &-wrap {

      @include dosm {
        height: 100%;
        grid-column: 5/13;
        pointer-events: all;
        overflow-x: hidden;
        overflow-y: auto;

        opacity: 0;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 0s ease, opacity 0s ease;
      }

      @include sm {
        max-height: none !important;
      }

      &.menu__items--active {
        opacity: 1;
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.3s ease, opacity 0.3s ease;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem 0;

    @include dosm {
      grid-template-columns: repeat(8, 1fr);
      gap: 4rem 2rem;
      padding: 7.2rem 0 7.6rem 0;
    }

    &.activated {

      @include sm {

        .menu__item:not(.menu__item.accordion-item--active) {
          opacity: 0.5;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    grid-column: span 2;

    @include sm {
      gap: 0rem;
      padding: 1.3rem 2rem 1.3rem 2rem;
      border-radius: 4rem;
      background-color: var(--white);
      transition: padding 0.3s ease, gap 0.3s ease, border-radius 0.3s ease;
    }

    &.accordion-item--active {

      @include sm {
        gap: 1.5rem;
        padding: 1.3rem 2rem 2rem 2rem;
        border-radius: 2rem;
      }
    }

    &-head {

      @include sm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 4rem;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 130%;

      transition: all 0.3s ease;

      @include dosm {
        font-weight: 700;
        color: var(--navy);
      }

      .accordion-item--active & {

        @include sm {
          font-weight: 700;
          color: var(--navy);
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;

      @include dosm {
        display: none;
      }

      i {
        --font-size: 3rem;

        transform: rotate(90deg);

        .accordion-item--active & {
          transform: rotate(90deg) scale(-1, 1);

          color: var(--navy);
        }
      }
    }

    &-body {

      @include dosm {
        grid-template-rows: auto;
      }

      .accordion-item--active & {
        grid-template-rows: auto;
      }
    }

    &-content {

      ul {}

      li {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 130%;
          color: var(--black);
        }
      }
    }
  }

  &__banner {
    display: none;

    @include dosm {
      display: block;
      padding: 1.8rem 2rem 1.8rem 2rem;
      background-color: var(--blue-2);
      grid-column: 1/4;
    }

    &-text {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 130%;
      text-transform: uppercase;
      color: var(--white);
    }
  }
}