@use './../mixins' as *;

.nav {

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  li {}

  a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    color: var(--white);

    &:hover {
      color: var(--cyan);
    }
  }
}