@use './../mixins' as *;

.social {
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-50%);

  padding-bottom: 6.1rem;

  position: fixed;
  top: 50%;
  right: 6rem;
  z-index: 20;

  @include dosm {
    display: block;
    opacity: 1;
    pointer-events: none;
  }

  &.active {
    pointer-events: all;

    .social__item {
      transition: 0.3s ease;

      &:not(.social__item-btn) {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
      }

      &:nth-child(1) {
        transition: transform 0.3s ease 0.1s, opacity 0.3s ease 0.15s, background-color 0.3s ease;
      }

      &:nth-child(2) {
        transition: transform 0.3s ease 0.05s, opacity 0.3s ease 0.1s, background-color 0.3s ease;
      }
    }
  }

  .menu--open & {
    opacity: 0;
    pointer-events: none;
    display: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    height: 5.4rem;
    background-color: var(--white);
    border-radius: 50%;

    text-align: center;
    color: var(--white);
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: background-color 0.3s ease, all 0.1s ease;
    box-shadow: 0px 16px 38.2px rgba(48, 99, 180, 0.1);

    &:hover {

      i {
        transform: scale(1.1);
      }
    }

    &--max {
      background-color: var(--purple);
    }

    &--tg {
      background-color: var(--sky);
    }

    i {
      --font-size: 3.6rem;
    }

    &-btn {
      background: var(--red);
      transition: all 0.3s ease;
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      cursor: pointer;
      box-shadow: 0px 16px 38.2px rgba(48, 99, 180, 0.1);

      bottom: 0;
    }
  }
}