@use './../mixins' as *;

.template {
  --section-padding-top: 3rem;
  --section-padding-bottom: 0.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include sm {
      gap: 2rem;
    }
  }

  &__title {
    color: var(--navy);

    h1 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 5rem;
      line-height: 120%;

      @include sm {
        font-size: 3.5rem;
      }
    }
  }






  &__body {
    padding: 7rem 12rem 8rem 12rem;
    border-radius: 1rem;
    overflow: hidden;

    position: relative;

    @include sm {
      padding: 3rem 2rem 3rem 2rem;
      min-height: 44rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 48rem;

    color: var(--white);

    position: relative;
    z-index: 2;

    @include sm {
      gap: 2rem;
    }
  }

  &__btn {
    margin-top: 1rem;

    @include sm {
      --btn-height: 5.6rem;
      --btn-padding-x: 3rem;

      gap: 3rem;

      font-size: 1.4rem;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--black-50);

      position: absolute;
      inset: 0;
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: relative;
      z-index: 1;
    }
  }
}