@use './../mixins' as *;

html {
  --refRes: 1920;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: calc(100vw / var(--refRes) * 10);
  font-size: calc(100dvw / var(--refRes) * 10);
  scroll-behavior: smooth;

  @include sm {
    --refRes: 390;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

body {
  min-width: 320px;
  background: var(--body-bg);

  font-family: var(--font-family);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  color: var(--black);
  cursor: default;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include sm {
    font-size: 1.4rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding-top: env(safe-area-inset-top, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  overflow: clip;

  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--navy-20);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    .overlay--active &,
    .catalog-menu--open & {
      opacity: 1;
    }
  }
}

.main {
  margin-top: calc(var(--header-height) * -1);
  flex: 1 0 auto;
  padding-bottom: var(--section-padding-bottom);

  z-index: 1;
}

.footer {
  flex: 0 0 auto;
}

section {
  padding: var(--section-padding-top) 0 var(--section-padding-bottom);
  will-change: transform;
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

img {
  width: auto;
  height: 100%;
  object-fit: contain;
}


@media (prefers-reduced-motion: reduce) {
  section {
    animation: none !important;
  }
}

.color-gray {
  color: var(--black-25);
}

.color-purple {
  color: #702FF4;
}

.color-sky {
  color: var(--sky);
}