@use './../mixins' as *;

.general {

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    min-width: 0;

    @include dosm {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    z-index: 2;

    @include dosm {
      gap: 3rem;
      grid-column: 1/4;
    }
  }

  &__body {

    position: relative;
    z-index: 2;

    @include dosm {
      grid-column: 4/13;
    }
  }

  &__title {

    h1 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4rem;
      line-height: 117.5%;
      text-transform: uppercase;

      @include sm {
        font-size: 3rem;
      }
    }

    h2 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4rem;
      line-height: 130%;
      text-transform: uppercase;

      @include sm {
        font-size: 3rem;
      }

      span {
        color: var(--accent);
      }
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__suptitle {

    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 130%;
      text-transform: uppercase;
      color: var(--white);
    }

    br {

      @include sm {
        display: none;
      }
    }
  }

  &__text {

    @include sm {
      max-width: 26rem;
    }

    p {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 140%;
      color: var(--accent);

      @include sm {
        font-size: 1.4rem;
      }
    }

    br {

      @include sm {
        display: none;
      }
    }
  }
}