@use './../mixins' as *;

:root {
  // --font-family: IBMPlexSans, Arial, Verdana, sans-serif;
  --font-family: "IBM Plex Sans", Arial, Verdana, sans-serif;
  --second-family: 'SF-Pro', Arial, Verdana, sans-serif;

  --container-padding: 12rem;
  --container-width: 168rem;
  // --header-height: 15.2rem;
  --header-height: 16.3rem;
  --section-padding-top: 3.5rem;
  --section-padding-bottom: 3.5rem;

  --body-bg: #F3F3F7;

  --white: #FFFFFF;
  --white-05: rgba(250, 255, 255, 0.05);
  --white-10: rgba(250, 255, 255, 0.1);
  --white-15: rgba(250, 255, 255, 0.15);
  --white-37: rgba(250, 255, 255, 0.37);
  --white-40: rgba(250, 255, 255, 0.4);
  --white-50: rgba(250, 255, 255, 0.5);
  --white-70: rgba(250, 255, 255, 0.7);
  --white-80: rgba(250, 255, 255, 0.8);
  --white-90: rgba(250, 255, 255, 0.9);
  --white-95: rgba(250, 255, 255, 0.95);

  --black: #000000;
  --black-05: #0000000d;
  --black-10: #0000001a;
  --black-20: #00000033;
  --black-25: rgba(0, 0, 0, 0.25);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-50: #00000080;
  --black-60: #00000099;

  --gray-light: #F7F7F7;
  --cyan: #0EDDC9;
  --cyan-10: rgba(14, 221, 201, 0.1);
  --sky: #0D95DE;
  --blue: #3C78CD;
  --blue-2: #3063B4;
  --blue-2-05: rgba(48, 99, 180, 0.05);
  --blue-2-30: rgba(48, 99, 180, 0.3);
  --blue-3: #003194;
  --deep-blue: #05204A;
  --navy: #0A3C87;
  --navy-05: rgba(10, 60, 135, 0.05);
  --navy-10: #0A3C871a;
  --navy-20: rgba(10, 60, 135, 0.2);
  --navy-50: rgba(10, 60, 135, 0.5);
  --navy-2: #1A498F;
  --orange: #FF7F2A;
  --red: #FF5B5B;
  --green: #51CF7B;
  --purple: #702EF5;

  @include md {}

  @include sm {
    --container-padding: 1.5rem;
    --header-height: 8.6rem;
    --section-padding-top: 2rem;
    --section-padding-bottom: 2rem;
  }
}